<!DOCTYPE html>
<html lang="{{ .Lang }}">
  <head>
    {{- partial "head.html" . -}}
    <title>{{- block "title" .}}{{ .Title }}{{- end }} – {{ .Site.Title }}</title>

    {{- block "head" .}}
      {{ range .AlternativeOutputFormats -}}
        <link rel="{{ .Rel }}" type="{{ .MediaType.Type }}" href="{{ .Permalink | safeURL }}">
      {{ end -}}
      <meta property="og:title" content="{{ .Site.Title }} {{ .Title }}" />
      <meta property="og:type" content="website" />
      <meta property="og:url" content="{{ .Permalink }}" />
      {{ with .Params.img_header }}<meta property="og:image" content="{{ . }}" />{{ end }}
      {{with .Params.meta}}
        <meta property="og:description" content="{{.}}">
        <meta name="description" content="{{.}}">
      {{end}}
    {{- end }}

  </head>
  <body class="no-js">
    {{- partial "header.html" . -}}
    <main id="content" class="content" name="content">
      <div class="">
        {{- block "main" . }}{{- end }}
      </div>
    </main>
    {{- partial "footer.html" . -}}
    {{- partial "matomo.html" . -}}
  </body>
</html>
