{{ define "head" }}
{{ range .AlternativeOutputFormats -}}
<link rel="{{ .Rel }}" type="{{ .MediaType.Type }}" href="{{ .Permalink | safeURL }}">
{{ end -}}
<meta property="og:title" content="{{ .Title }} – {{ .Site.Title }}" />
<meta property="og:type" content="website" />
<meta property="og:url" content="{{ .Permalink }}" />
{{ with .Params.img_header }}<meta property="og:image" content="{{ . }}" />{{ end }}
{{ with .Params.meta }}
  <meta property="og:description" content="{{.}}">
  <meta name="description" content="{{.}}">
{{ end }}
{{ end }}

{{ define "main" }}
<main>
  <div class="container">
    <h1>Aktuelles in unserem Blog</h1>
  </div>
  <div id="js-blog-index">
    {{ if eq .Paginator.HasPrev false}}
      {{- partial "featured_post.html" . -}}
    {{ end }}

    <ul class="l__blog__posts containert mt-d">
      {{ range (.Paginator 20).Pages }}
      {{- partial "post_item.html" . -}}
      {{ end }}
    </ul>

    {{- partial "paginator.html" . -}}
  </div>
</main>
{{ end }}
