{{ define "title"}}{{ .Title }}{{ end }}

{{ define "main" }}
<section class="l__donation container align-items-end">
  <div class="row align-items-end">
    <h1 class="col">{{ .Params.blurb }}</h1>
  </div>
  <div class="row mt-0 l__content">
    <div class="col col-12 col-md-6 offset-md-3">
      {{ .Content }}
    </div>
  </div>
</section>
<section class="l__donation container l__content">
  <div class="row">
    <div class="col-6 offset-3 col-md-3 offset-md-0">
      <img src="/files/downloads/Illustrationen/05_Licht_Dokumente.png" />
    </div>
    <div class="col col-12 col-md-6">
      {{ with .Params.bank_name}}<h3>{{.}}</h3>{{ end }}
      {{ with .Params.bank_text}}<p>{{.}}</p>{{ end }}
      <noscript><p>Bitte JavaScript einschalten wenn du kein Roboter bist.</p></noscript>
      <script>document.write(`
        <dl class="l__donation__bank-transfer row">
          <dt class="col col-12 col-md-5">Kontoinhaber:</dt>
          <dd class="col col-12 col-md-7">Mehr Demokratie e.V.</dd>
          <dt class="col col-12 col-md-5">IBAN:</dt>
          <dd class="col col-12 col-md-7">DE81 4306 0967 0041 1002 00</dd>
          <dt class="col col-12 col-md-5">BIC:</dt>
          <dd class="col col-12 col-md-7">GENODEM1GLS</dd>
          <dt class="col col-12 col-md-5">Verwendungszweck:</dt>
          <dd class="col col-12 col-md-7">Volksentscheid</dd>
        </dl>`)</script>
    </div>
    <div class="col col-12 col-md-6 col-lg-5">
      {{ with .Params.paypal_name}}<h3>{{.}}</h3>{{ end }}
      {{ with .Params.paypal_text}}<p>{{.}}</p>{{ end }}
      {{ with .Params.paypal_link}}<p><a href="#">{{.}}</a></p>{{ end }}
    </div>
    <div class="col col-12 col-md-6 offset-md-3">
      {{- partial "spenden" -}}
    </div>
  </div>
</section>

<section class="l__donation container l__content">
  <div class="row">
    <div class="col col-12 col-md-6 col-lg-8">
      {{ with .Params.metainfo_name}}<h3>{{.}}</h3>{{ end }}
      {{ with .Params.metainfo_text}}<p>{{safeHTML .}}</p>{{ end }}
    </div>
  </div>
</section>
{{ end }}
