{{ define "main" }}
<main>
  <section class="container align-items-end">
    <div class="row align-items-end">
      <h1 class="col col-5 col-sm-10">{{ .Params.blurb }}</h1>
      <div class="col col-12 mt-d mb-0">
        <img src="{{.Params.img}}" alt="">
      </div>
    </div>
    <div class="row mt-0 l__content">
      <div class="col col-12 col-md-8 offset-md-2">
        {{ .Content }}
      </div>
    </div>
    <ul class="row c__download-list mb-l">
      {{ $lang := .Lang }}
      {{ range $.Site.Data.downloads }}
      <li class=" col col-12 col-sm-6">
        <div>
          <a href="{{.path}}">
            <h3 class="h4">{{ .title }}</h3>
            <p>{{ .text}}</p>         
          </a>
        </div>
      </li>
      {{ end }}
    </ul>
  </section>
</main>
{{ end }}
