{{ define "main" }}
<section class="container">
  <div class="row mt-0 l__content">
    <div class="col col-12 col-md-8">
      {{ .Content }}
    </div>
    <div class="col col-12 col-md-4 mt-1">
      <div>
        <a href="/gesetz/">
          <div class="teaser__inner">
            <div class="teaser__img">
              <img src="/img/gesetz__teaser.png" alt="" class="img-responsive">
            </div> 
          </div>
        </a>
        <div class="teaser__content">
          <h3>Was steht im Gesetz?</h3>
          <p>
            <a href="/gesetz/">
              Gesetzestext mit Begründung und Kostenschätzungen
            </a>
          </p>
        </div>
      </div>

      <div class="mt-5">
        <a href="/mitmachen/">
          <div class="teaser__inner">
            <div class="teaser__img">
              <img src="/img/mitmachen__teaser.png" alt="" class="img-responsive">
            </div> 
          </div>
        </a>
        <div class="teaser__content">
          <h3>Jetzt mitmachen</h3>
          <p>
            <a href="/mitmachen/">
              Hilf uns beim Sammeln von Unterschriften!
            </a>
          </p>
        </div>
      </div>

    </div>
  </div>
</section>
<section class="container l__content">
  {{ range .Pages }}
  <div class="row">
    <div class="col col-12 col-md-10 col-lg-7">
      <h2 class="h3">{{.Title}}</h2>
      <p>{{.Content}}</p>
    </div>
  </div>
  {{ end }}
</section>

{{ end }}

