{{ define "title"}}
<title>{{ .Title }} - {{ .Site.Title }}</title>
{{ end }}

{{ define "head" }}
{{ range .AlternativeOutputFormats -}}
<link rel="{{ .Rel }}" type="{{ .MediaType.Type }}" href="{{ .Permalink | safeURL }}">
{{ end -}}
<meta property="og:title" content="{{ .Site.Title }} {{ .Title }}" />
<meta property="og:type" content="website" />
<meta property="og:url" content="{{ .Permalink }}" />
{{ with .Params.img_header }}<meta property="og:image" content="{{ . }}" />{{ end }}
{{with .Params.meta}}
<meta property="og:description" content="{{.}}">
<meta name="description" content="{{.}}">
{{end}}
{{ end }}

{{ define "main" }}
<section class="l__donation container align-items-end">
   <div class="row l__team__title">
      <h1 class="col col-9">{{ .Title }}</h1>
    </div>
  <div class="col-12 row mt-0 l__content">
    <div class="col-lg-2 col-xs-12">    
      <img src="/volksentscheid/mitmachen__teaser.png" alt="">
    </div>  
    <div class="col col-12 col-md-7">
      {{ .Content }}
    </div>
  </div>
</section>

{{ end }}
