{{ define "title"}}
<title>{{ .Title }} - {{ .Site.Title }}</title>
{{ end }}

{{ define "head" }}
{{ range .AlternativeOutputFormats -}}
<link rel="{{ .Rel }}" type="{{ .MediaType.Type }}" href="{{ .Permalink | safeURL }}">
{{ end -}}
<meta property="og:title" content="{{ .Site.Title }} {{ .Title }}" />
<meta property="og:type" content="website" />
<meta property="og:url" content="{{ .Permalink }}" />
{{ with .Params.img_header }}<meta property="og:image" content="{{ . }}" />{{ end }}
{{with .Params.meta}}
<meta property="og:description" content="{{.}}">
<meta name="description" content="{{.}}">
{{end}}
{{ end }}

{{ define "main" }}
<main>
<section class="container align-items-end">
  <div class="row mt-0 l__content">
    <div class="col-12 col-md-10">
      <h1>Wir brauchen jetzt schon jede helfende Hand!</h1>
      <h3> Damit das Volksbegehren gelingt, brauchen wir Deine Hilfe! Du kannst das Volksbegehren vielfältig unterstützen und mitgestalten: </h3>
    </div>
    <div class="col-12 col-md-7">
      <div class="box mt-5">
        <h3>1. Sammler*in werden! </h3>
        <p>
          Im Juli beginnt die Unterschriftensammlung von 20.000 Unterschriften! Ohne Menschen, die bereit sind sich aktiv für eine kontrollierbare Politik einzusetzen und auf der Straße Unterschriften zu sammeln, gelingt unser Volksbegehren nicht! 
          <br>
          Du kannst dir vorstellen 1, 2 oder sogar 5 Stunden die Woche Unterschriften zu sammeln? Oder kennst gute Orte, um Listen für das Volksbegehren auszulegen? Dann trage dich einfach direkt in unser Formular ein, wir melden uns bei dir!
        </p>
      </div>
      <div class="box mt-5">
        <h3>2. In einer AG aktiv mitarbeiten!</h3>
        <p>
          Aktionen müssen organisiert, die Unterschriftenlisten vorbereitet und Infopakete zusammengeschnürt werden! Du planst gerne Aktionen, willst Artikel zum Thema Transparenz in Berlin schreiben oder Plakate in der ganzen Stadt aufhängen? 
          <br>
          Wir können Unterstützung bei den Themen: Aktionen, Film & Video, Social Media, Argumente & Fakten, IT & Website, Grafik, Foto & Illustration, Fundraising & Finanzierung gebrauchen!
        </p>
      </div>
      <div class="box mt-5">
        <h3>3. Komm zu unseren öffentlichen Unterstützer*innen-Treffen!</h3>
        <p>
          Bei unseren öffentlichen Unterstützer*innen-Treffen kannst du einfach vorbei kommen und uns kennen lernen. Hier halten wir alle Interessierten über die neusten Entwicklungen auf dem Laufenden und diskutieren über die nächsten Schritte! 
        </p>
        <p>
          Wir treffen uns jeden zweiten Montag um 18 Uhr im Haus der Demokratie und Menschenrechte, Greifswalder Str. 4, 10405 Berlin
        </p>
      </div>
    </div>

    <div class="col col-12 col-md-3 offset-md-1 mt-1">
      <div class="teaser__inner">
        <div class="teaser__img">
          <img src="/volksentscheid/mitmachen__teaser.png" alt="">
        </div> 
      </div>
      <h3>Du willst mitmachen?</h3>
      <p>Dann trag dich hier ein!</p>
      <form action="https://formspree.io/mobilisierung@volksentscheid-transparenz.de" method="POST" >
      <div class="form-group">
        <label for="form-name">Name</label>
        <input type="text" name="name" class="form-control" id="form-name" placeholder="Dein Name" required>
      </div>
      <div class="form-group">
        <label for="form-email">E-Mail</label>
        <input type="email" name="email" class="form-control" id="form-email" placeholder="Deine E-Mail-Adresse" required>
      </div>
      <div class="form-group">
        <label for="form-telefon">Telefon</label>
        <input type="text" name="telefon" pattern="[0-9 ]+" class="form-control" id="form-telefon" placeholder="015...">
        <small id="emailHelp" class="form-text text-muted">Optional</small>
      </div>
      <div class="form-group">
        <label for="form-comment">Nachricht</label>
        <textarea class="form-control" name="comment" id="form-comment" rows="3" required></textarea>
      </div>
      <button type="submit" class="btn btn-warning btn-lg">
        Abschicken
      </button>
      </form>
    </div>
</section>

<section class="l_content mt-l">
  <div class="container">
    <div class="col col-12">
      <h2>Unsere nächsten Termine</h2>
  
      

     
      
      <div class="date--item mt-s">
        <div class="row">
          <div class="col-2">
            <p><strong>20.7.</strong><br>11:00</p>
          </div>
          <div class="col-10">
            <p><strong>Lesbisch-schwules Stadtfest</strong><br>
             Am Nollendorfplatz, <br> Stand von Demokratie in Bewegung</p>
          </div>
        </div>
      </div>
      
      <div class="date--item mt-s">
        <div class="row">
          <div class="col-2">
            <p><strong>22.7.</strong><br>18:00</p>
          </div>
          <div class="col-10">
            <p><strong>Unterstützer*innen-Treffen</strong><br>
            Haus der Demokratie und Menschenrechte, <br> Greifswalder Str. 4, 10405 Berlin</p>
          </div>
        </div>
      </div>
      
      <div class="date--item mt-s">
        <div class="row">
          <div class="col-2">
            <p><strong>25.7.</strong><br>17:00</p>
          </div>
          <div class="col-10">
            <p><strong>AG Mobilisierung</strong><br>
            Haus der Demokratie und Menschenrechte, <br> Greifswalder Str. 4, 10405 Berlin</p>
          </div>
        </div>
      </div>
      
      <div class="date--item mt-s">
        <div class="row">
          <div class="col-2">
            <p><strong>25.7.</strong><br>19:00</p>
          </div>
          <div class="col-10">
            <p><strong>AG Mobilisierung</strong><br>
            Für Neueinsteiger*innen, Haus der Demokratie und Menschenrechte, <br> Greifswalder Str. 4, 10405 Berlin</p>
          </div>
        </div>
      </div>
      
      <div class="date--item mt-s">
        <div class="row">
          <div class="col-2">
            <p><strong>27.7.</strong><br>17:00</p>
          </div>
          <div class="col-10">
            <p><strong>Sammler*innen-Schulung</strong><br>
            Für Sammler*innen, Haus der Demokratie und Menschenrechte, <br> Greifswalder Str. 4, 10405 Berlin</p>
          </div>
        </div>
      </div>
      
      <div class="date--item mt-s">
        <div class="row">
          <div class="col-2">
            <p><strong>2.8.</strong>
          </div>
          <div class="col-10">
            <p><strong>Auftaktparty</strong><br>
          </div>
        </div>
      </div>
      
      <div class="date--item mt-s">
        <div class="row">
          <div class="col-2">
            <p><strong>3.8.</strong>
          </div>
          <div class="col-10">
            <p><strong>Beginn Unterschriftensammlung!!!</strong><br>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="l__content mt-l">
  <div class="container">
    <div class="col col-12">
      <div class="row">
        <div class="l__home__teaser col col-12 col-sm-12 col-md-6 col-lg-6">
          <a href="/workshop">
            <div class="l__home__teaser__inner">
              <div class="l__home__teaser__img">
                <img src="/volksentscheid/workshop_3.png" alt="" class="img-responsive">
              </div> 
            </div>
            <div class="l__home teaser__content">
              <h3>Interesse am Unterschriftensammeln?</h3>
            </div>
          </a>
            <div class="l__home teaser__content">
            <p>
              Du kannst dir vorstellen Unterschriften zu sammeln, willst aber erstmal mehr erfahren? Dann kommt zu unseren Aktivenworkshops! Hier stellen wir das Gesetz vor und machen Dich für die Sammlung fit! </p>
          </div>
        </div>
        <div class="l__home__teaser col-12  col-sm-12 col-md-6 col-lg-3">
          <a href="http://eepurl.com/dPuBD5">
            <div class="l__home__teaser__inner__bg--black text__white">
              <div class="l__home__teaser__img">
                <img src="/volksentscheid/newsletter.png" alt="" class="img-responsive">
              </div> 
              <div class="l__home teaser__content text__white">  
                <h3><a href="http://eepurl.com/dPuBD5">Newsletter abonnieren {{ readFile "static/files/icons/arrow_right.svg" | safeHTML }}</a></h3>
              </div>
            </div>
          </a>
        </div>
      </div>
    </div>
</section>
</main>


{{- partial "matomo.html" . -}}
{{ end }}
