<footer class="l__footer">
  <div>
    <div class="l__inner">
      <nav class="col col-12 col-sm-10 col-md-7 col-lg-5 order-1">
        {{- partial "footer-nav" . -}}
      </nav>
      <div class="col order-2 col-8 col-sm-6 col-md-3 offset-md-2 offset-lg-4">
        {{- partial "social-media" . -}}
      </div>
      <div class="l__footer__footnote col col-12 col-sm-10 col-md-7 order-5">
        <p>Wir verwenden die datenschutzfreundliche Technologie von <a href="https://matomo.org/">Matomo</a>, um statistische Auswertungen der Seitennutzung zu erhalten. Wenn Sie dies nicht wollen, <a href="https://traffic.okfn.de/index.php?module=CoreAdminHome&action=optOut&language=de">können Sie hier den Haken entfernen</a>. <br>Näheres in unserer <a href="/impressum/#datenschutzerklärung">Datenschutzerklärung</a>.</p>
      </div>
    </div>
  </div>
</footer>

{{ $js := resources.Get "js/toggle.js" | resources.Minify | resources.Fingerprint}}
<script src="{{$js.RelPermalink}}" async defer></script>
