<header class="l__topbar">
  <div class="container-fluid">
    <div class="l__inner">
      <a href="#content" class="show-on-focus skip">Skip to content</a>
      {{ with .Site.GetPage "/"}}
        <a href="{{.Site.BaseURL}}" title="Startseite" class="c__logo l__logo col-auto">
          {{ readFile "static/logo/logo_vtb.svg" | safeHTML }}
        </a>
      {{end}}
      <div class="l__topbar__toggle">
        <button type="button" id="js-topnav-toggle" tabindex="">
          {{ readFile "static/files/icons/menu.svg" | safeHTML }}</button>
      </div>
      <ul class="l__nav c__nav-list c__nav-list--top col col-md-6 ml-auto" id="js-topnav-menu">
        {{ with .Site.GetPage "/info" }}<li><a href="{{ .Permalink }}">{{ .Title }}</a></li>{{ end }}
        {{ with .Site.GetPage "/gruende" }}<li><a href="{{ .Permalink }}">{{ .Title }}</a></li>{{ end }}
        {{ with .Site.GetPage "/mitmachen" }}<li><a href="{{ .Permalink }}">{{ .Title }}</a></li>{{ end }}
        {{ with .Site.GetPage "/ablauf" }}<li><a href="{{ .Permalink }}">{{ .Title }}</a></li>{{ end }}
        {{ with .Site.GetPage "/spenden" }}<li><a href="{{ .Permalink }}">{{ .Title }}</a></li>{{ end }}
        {{ with .Site.GetPage "/blog" }}<li><a href="{{ .Permalink }}">Aktuelles</a></li>{{ end }}
        {{ with .Site.GetPage "/kontakt" }}<li><a href="{{ .Permalink }}">Kontakt</a></li>{{ end }}
      </ul>
    </div>
  </div>
</header>

<div class="l__callout">
  Neues Sammel-Ende: 30.11.
  <a href="/documents/Unterschriftenliste.pdf">
    Unterschriftenlisten herunterladen
  </a>
  und <a href="/impressum/">hierhin schicken!</a>
</div>
