<section class="l__content">
  <div class="col col-12">
    <div class="row">
      <div class="col col-xs-12 col-md-2">
        <div class="l__home__teaser__inner">
          <div class="l__home__teaser__img">      
            <img class="img-responsive" src="/partner/OKFN.png" alt="Logo OKFDE"/>
          </div>
        </div>
      </div>
      <div class="col col-xs-12 col-md-2">
        <div class="l__home__teaser__inner">
          <div class="l__home__teaser__img">      
              <img src="/partner/md.png" alt="Logo Mehr Demokratie"/>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col col-xs-8 col-md-2">
        <div class="l__home__teaser__inner">
          <div class="l__home__teaser__img">      
            <img class="img-responsive" src="/partner/aw.png" alt="Logo Abgeordnetenwatch"/>
          </div>
        </div>
      </div>
      <div class="col col-xs-6 col-md-2">
        <div class="l__home__teaser__inner">
          <div class="l__home__teaser__img">      
            <img class="img-responsive" src="/partner/wmde-logo.png" alt="Logo Wikimedia"/>
          </div>
        </div>
      </div>
      <div class="col col-xs-6 col-md-2">
        <div class="l__home__teaser__inner">
          <div class="l__home__teaser__img">      
            <img class="img-responsive" src="/partner/digiges.png" alt="Logo Digitale Gesellschaft"/>
          </div>
        </div>
      </div>
      <div class="col col-xs-6 col-md-2">
        <div class="l__home__teaser__inner">
          <div class="l__home__teaser__img">      
            <img class="img-responsive" src="/partner/nr.png" alt="Logo Netzwerk Recherche"/>
          </div>
        </div>
      </div>
      <div class="col col-xs-6 col-md-2">
        <div class="l__home__teaser__inner">
          <div class="l__home__teaser__img">      
            <img class="img-responsive" src="/partner/CCC.png" alt="Logo CCC"/>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col col-xs-6 col-md-2">
        <div class="l__home__teaser__inner">
          <div class="l__home__teaser__img">      
            <img class="img-responsive" src="/partner/openpetition-logo.png"/>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>