<ul class="c__nav-list--social">
  <li><a href="https://twitter.com/TransparenzBER" title="Volksentscheid bei Twitter">{{ readFile "static/files/icons/twitter.svg" | safeHTML }}</a></li>
  <li><a href="https://www.facebook.com/TransparenzBER/" title="Volksentscheid bei Facebook">{{ readFile "static/files/icons/facebook.svg" | safeHTML }}</a></li>
  <li><a href="https://www.flickr.com/photos/okfde/albums/72157682116813672" title="Volksentscheid bei Flickr">{{ readFile "static/files/icons/flickr.svg" | safeHTML }}</a></li>
  <li><a href="https://www.instagram.com/transparenzber/" title="Volksentscheid bei Instagram">{{ readFile "static/files/icons/instagram.svg" | safeHTML }}</a></li>
  <li><a href="https://github.com/okfde/volksentscheid-transparenz.de" title="Volksentscheid bei GitHub">{{ readFile "static/files/icons/github.svg" | safeHTML }}</a></li>
</ul>
