{{ define "title"}}
<title>Volksentscheid Transparenzgesetz</title>
{{ end }}

{{ define "head" }}
<meta property="og:title" content="Volksentscheid Transparenzgesetz" />
<meta property="og:type" content="website" />
<meta property="og:url" content="" />
{{ with .Params.img_header }}<meta property="og:image" content="{{ . }}" />{{ end }}
{{with .Params.meta}}
<meta property="og:description" content="{{.}}">
<meta name="description" content="{{.}}">
{{end}}
{{ end }}

{{ define "main" }}
<main>
  <div class="l__home">
    <section class="l__content l__home__start">
      <div class="col col-12 col-xs-12 l__content__bg--grey">
          <div class="col col-12 col-xs-10 col-lg-10 offset-lg-1">
            <h1>{{ .Params.blurb }}</h1>
            <h2 class="blackout">
              <a href="/info">
                {{ .Params.work }}
              </a>
            </h2>
          </div>
      </div>
    </section>


    <section class="u04-subscribe">
      <a href="/mitmachen">
        <div class="u04-subscribe__wrapper">
          <div class="u04-subscribe__marquee" data-animation-play-state="run">
            <span class="u04-subscribe__marquee-content">Mitmachen</span>
            <span class="u04-subscribe__marquee-content">Mitmachen</span>
            <span class="u04-subscribe__marquee-content">Mitmachen</span>
            <span class="u04-subscribe__marquee-content">Mitmachen</span>
            <span class="u04-subscribe__marquee-content">Mitmachen</span>

          </div>
        </div>
      </a>
    </section>

    <section class="l__content">
      <div class="container">
        <div class="col col-12">
          <div class="row">
            <div class="l__home__teaser col col-12 col-sm-12 col-md-6 col-lg-6">
              <a href="/mitmachen">
                <div class="l__home__teaser__inner">
                  <div class="l__home__teaser__img">
                    <img src="/volksentscheid/mitmachen.png" alt="" class="img-responsive">
                  </div> 
                  <div class="l__home teaser__content">
                    <h3><a href="/mitmachen">Dringend Unterstützung gebraucht!</a></h3>
                    <p>
                      Wir brauchen jede Menge Unterstützung in unseren AGs. Egal, ob in der Außenkommunikation, der Kampagne, der Organisation von Aktionen oder dem Sammeln von Unterschriften, wir freuen uns über jede helfende Hand! Melde dich am besten über unser Formular.</p>
                  </div>
                </div>
              </a>
            </div>
            <div class="col col-lg-5 col-md-5 offset-md-1 offset-lg-1">
              <h2>Unsere nächsten Termine</h2>
              <div class="date--item mt-s">
                <div class="row">
                  <div class="col-2">
                    <p><strong>24.6.</strong><br>18:00</p>
                  </div>
                  <div class="col-10">
                    <p><strong>Treffen Unterstützer*innen-Kreis</strong><br>
                    Haus der Demokratie und Menschenrechte, Greifswalder Str. 4, 10405 Berlin</p>
                  </div>
                </div>
              </div>
              <div class="date--item mt-s">
                <div class="row">
                  <div class="col-2">
                    <p><strong>27.6.</strong><br>17:00</p>
                  </div>
                  <div class="col-10">
                    <p><strong>AG Mobilisierung</strong><br>
                    Haus der Demokratie und Menschenrechte, Greifswalder Str. 4, 10405 Berlin</p>
                  </div>
                </div>
              </div>
              <div class="date--item">
                <div class="row">
                  <div class="col-2">
                    <p><strong>27.6.</strong><br>18:00</p>
                  </div>
                  <div class="col-10">
                    <p><strong>Vesper Menschenrechte</strong><br>
                    Panel zu unserem Transparenzgesetz. Haus der Demokratie und Menschenrechte</p>
                  </div>
                </div>
              </div>
                  <div class="date--item">
                <div class="row">
                  <div class="col-2">
                    <p><strong>29.6.</strong><br>17:00</p>
                  </div>
                  <div class="col-10">
                    <p><strong>Aktivenworkshop + Grillen</strong><br>
                    Über Transparenz reden und grillen. Auf dem Tempelhofer Feld</p>
                  </div>
                </div>
              </div>
                  <div class="date--item">
                <div class="row">
                  <div class="col-2">
                    <p><strong>7.7.</strong><br>15:00</p>
                  </div>
                  <div class="col-10">
                    <p><strong>Feldmusik</strong><br>
                    Tempelhofer Feld, Haus 104</p>
                  </div>
                </div>
              </div>
              <div class="date--item mt-s">
                <div class="row">
                  <div class="col-2">
                    <p><strong>8.7.</strong><br>18:00</p>
                  </div>
                  <div class="col-10">
                    <p><strong>Treffen Unterstützer*innen-Kreis</strong><br>
                    Haus der Demokratie und Menschenrechte, Greifswalder Str. 4, 10405 Berlin</p>
                  </div>
                </div>
              </div>
              <div class="date--item">
                <div class="row">
                  <div class="col-2">
                    <p><strong>11.7.</strong><br>17:00</p>
                  </div>
                  <div class="col-10">
                    <p><strong>AG Mobilisierung</strong><br>
                    Haus der Demokratie und Menschenrechte, Greifswalder Str. 4, 10405 Berlin</p>
                  </div>
                </div>
              </div>
              
            </div>
          </div>
          <div class="row">
            <div class="l__home__teaser col col-12 col-sm-12 col-md-6 col-lg-3">
              <a href="/info">
                <div class="l__home__teaser__inner">
                  <div class="l__home__teaser__img">
                    <img src="/volksentscheid/info__teaser.png" alt="" class="img-responsive">
                  </div> 
                  <div class="l__home teaser__content">
                    <h3><a href="/info">Über den Volksentscheid</a></h3>
                    <p>
                      Unser Transparenzgesetz regelt, welche Informationen zur Berliner Politik und Verwaltung sowie der Unternehmen des Landes Berlin künftig aktiv veröffentlicht werden müssen.</p>
                  </div>
                </div>
              </a>
            </div>
            <div class="l__home__teaser col-12 col-sm-12 col-md-6 col-lg-6">
              <a href="/gruende">
                <div class="l__home__teaser__inner">
                  <div class="l__home__teaser__img">
                    <img src="/gruende/00_gruende__teaser-4.png" alt="" class="img-responsive">
                  </div> 
                  <div class="l__home teaser__content">
                    <h3><a href="/gruende">9 Gründe für ein Transparenzgesetz</a></h3>
                    <p>Mit unserem Transparenzgesetz schaffen wir eine neue Form der Kontrolle der Politik in Berlin und eine echte Basis für Mitbestimmung! In unserer Übersicht haben wir die Gründe für ein Transparenzgesetz zusammengestellt.</p>
                  </div>
                </div>
              </a>
            </div>
             <div class="l__home__teaser col-12  col-sm-12 col-md-6 col-lg-3">
              <a href="http://eepurl.com/dPuBD5">
                <div class="l__home__teaser__inner__bg--black text__white">
                  <div class="l__home__teaser__img">
                    <img src="/volksentscheid/newsletter.png" alt="" class="img-responsive">
                  </div> 
                  <div class="l__home teaser__content text__white">  
                    <h3><a href="http://eepurl.com/dPuBD5">Newsletter abonnieren {{ readFile "static/files/icons/arrow_right.svg" | safeHTML }}</a></h3>
                  </div>
                </div>
              </a>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="l__content">
      <div class="container">
        <div class="row">
          <div class="l__home__teaser col-12 col-sm-12 col-md-6 col-lg-3">
            <a href="/documents/BerlTG-E-6_clean.pdf">
              <div class="l__home__teaser__inner">
                <div class="l__home__teaser__img">
                  <img src="/volksentscheid/gesetz__teaser_gray.png" alt="" class="img-responsive">
                </div> 
                <div class="l__home teaser__content">
                  <h3><a href="/documents/BerlTG-E-6_clean.pdf">Was steht im Gesetz?</a></h3>
                  <p>Unser Transparenzgesetz regelt, welche Informationen der Berliner Politik und Verwaltung sowie der Unternehmen des Landes Berlin künftig aktiv veröffentlicht werde müssen.</p>
                </div>
              </div>
            </a>
          </div>
          <div class="l__home__teaser col col-12 col-sm-12 col-md-6 col-lg-6">
            <a href="/workshop">
              <div class="l__home__teaser__inner">
                <div class="l__home__teaser__img">
                  <img src="/volksentscheid/workshop_3.png" alt="" class="img-responsive">
                </div> 
              </div>
            </a>
            <div class="l__home teaser__content">
              <h3>Unsere Aktivenworkshops</h3>
              <p>
                Wir veranstalten regelmäßig Aktivenworkshops und erklären, warum mehr Transparenz in der Politik notwendig ist, was in Berlin schief läuft, wie wir das ändern wollen und wie man am besten Unterschriften sammelt.</p>
            </div>
          </div>
          <div class="l__home__teaser col-12 col-sm-12 col-md-6 col-lg-3">
              <iframe src="https://open.spotify.com/embed/user/1125183168/playlist/4IDAwSBduRrsHscyusWhyV" width="100%" height="380" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
          </div>
        </div>
      </div>
    </section>
<!--
    <section class="container mt-l mb-l">
      <div class="row justify-between">
        <div class="col col-6">
          <h2>Unsere nächsten Termine</h2>
          {{- partial "dates" . -}}
        </div>
      </div>
    </section>
-->


    <section class="container mt-l mb-l">
      <div class="row justify-between">
        <div class="col col-11 mb-s">
          <h2>{{ i18n "home_blog_news" }}</h2>
        </div>
        <div class="">
          <p>{{ with .Site.GetPage "/blog" }}
          <a href="{{ .Permalink }}" class="hover">
            Alle Posts</a>{{ end }}</p>
      </div>
        {{- partial "featured_post.html" . -}}
      </div>
    </section>


    <section class="l__content">
      <div class="l__content__partner__white mt-l mb-l col col-10 offset-lg-1">
        <h3> Eine Initiative von</h3>
        <div class="row">
          <div class="col col-xs-5 col-md-6 col-lg-2">
            <div class="l__home__teaser__inner">
              <div class="l__home__teaser__img">      
                <a href="https://okfn.de/"><img class="img-responsive" src="/partner/OKFN.png" alt="Logo OKFDE"/></a>
              </div>
            </div>
          </div>
          <div class="col col-sm-6 col-md-6 col-lg-2">
            <div class="l__home__teaser__inner">
              <div class="l__home__teaser__img">      
                  <a href="https://bb.mehr-demokratie.de/"><img src="/partner/md.png" alt="Logo Mehr Demokratie"/></a>
              </div>
            </div>
          </div>
        </div>
        <h3>Unterstützerinnen</h3>
        <div class="row">
          <div class="col-sm-6 col-md-6 col-lg-2">
            <div class="l__home__teaser__inner">
              <div class="l__home__teaser__img">      
                <a href="https://abgeordnetenwatch.de/"><img class="img-responsive" src="/partner/aw.png" alt="Logo Abgeordnetenwatch"/></a>
              </div>
            </div>
          </div>
          <div class="col-sm-6 col-md-6 col-lg-2">
            <div class="l__home__teaser__inner">
              <div class="l__home__teaser__img">      
                <a href="https://wikimedia.de/"><img class="img-responsive" src="/partner/wmde-logo.png" alt="Logo Wikimedia"/></a>
              </div>
            </div>
          </div>
          <div class="col-sm-6 col-md-6 col-lg-2">
            <div class="l__home__teaser__inner">
              <div class="l__home__teaser__img">      
                <a href="https://digitalegesellschaft.de/"><img class="img-responsive" src="/partner/digiges.png" alt="Logo Digitale Gesellschaft"/></a>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-2">
            <div class="l__home__teaser__inner">
              <div class="l__home__teaser__img">      
                <a href="https://netzwerkrecherche.org/"><img class="img-responsive" src="/partner/nr.png" alt="Logo Netzwerk Recherche"/></a>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-2">
            <div class="l__home__teaser__inner">
              <div class="l__home__teaser__img">      
                <a href="https://ccc.de"><img class="img-responsive" src="/partner/CCC.png" alt="Logo CCC"/></a>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-2">
            <div class="l__home__teaser__inner">
              <div class="l__home__teaser__img">      
                <a href="https://www.openpetition.de/"><img class="img-responsive" src="/partner/openpetition-logo.png"/></a>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-2">
            <div class="l__home__teaser__inner">
              <div class="l__home__teaser__img">      
                <a href="https://www.fiff.de/"><img class="img-responsive" src="/partner/fiff.png"/></a>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-2">
            <div class="l__home__teaser__inner">
              <div class="l__home__teaser__img">      
                <a href="https://www.reporter-ohne-grenzen.de/"><img class="img-responsive" src="/partner/RoG.png"/></a>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-2">
            <div class="l__home__teaser__inner">
              <div class="l__home__teaser__img">      
                <a href="https://www.lobbycontrol.de/"><img class="img-responsive" src="/partner/lobbycontrol.png"/></a>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-2">
            <div class="l__home__teaser__inner">
              <div class="l__home__teaser__img">      
                <a href="https://changing-cities.org/"><img class="img-responsive" src="/partner/changingcities.png"/></a>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-2">
            <div class="l__home__teaser__inner">
              <div class="l__home__teaser__img">      
                <a href="http://berlin.humanistische-union.de/"><img class="img-responsive" src="/partner/humanistischeunion.png"/></a>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-2">
            <div class="l__home__teaser__inner">
              <div class="l__home__teaser__img">      
                <a href="https://www.omnibus.org/"><img class="img-responsive" src="/partner/omnibus.png"/></a>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-2">
            <div class="l__home__teaser__inner">
              <div class="l__home__teaser__img">      
                <a href="https://www.foodwatch.org/en/homepage/"><img class="img-responsive" src="/partner/foodwatch.png"/></a>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-2">
            <div class="l__home__teaser__inner">
              <div class="l__home__teaser__img">      
                <a href="https://berlin-werbefrei.de/"><img class="img-responsive" src="/partner/werbefrei.png"/></a>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-2">
            <div class="l__home__teaser__inner">
              <div class="l__home__teaser__img">      
                <a href="https://ilmr.de/"><img class="img-responsive" src="/partner/liga_menschenrechte.png"/></a>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-2">
            <div class="l__home__teaser__inner">
              <div class="l__home__teaser__img">      
                <a href="https://www.hausderdemokratie.de/"><img class="img-responsive" src="/partner/haus_menschenrechte.png"/></a>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-2">
            <div class="l__home__teaser__inner">
              <div class="l__home__teaser__img">      
                <a href="https://www.dzi.de/"><img class="img-responsive" src="/partner/institut_soziale_fragen.png"/></a>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-2">
            <div class="l__home__teaser__inner">
              <div class="l__home__teaser__img">      
                <a href="https://berliner-wassertisch.net/"><img class="img-responsive" src="/partner/wassertisch.png"/></a>
              </div>
            </div>
          </div><div class="col-md-6 col-lg-2">
            <div class="l__home__teaser__inner">
              <div class="l__home__teaser__img">      
                <a href="https://www.dwenteignen.de/"><img class="img-responsive" src="/partner/dw.png"/></a>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-2">
            <div class="l__home__teaser__inner">
              <div class="l__home__teaser__img">      
                <a href="https://antikorruptionsvereinberlin.de/"><img class="img-responsive" src="/partner/antik.png"/></a>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-2">
            <div class="l__home__teaser__inner">
              <div class="l__home__teaser__img">      
                <a href="https://www.oedp.de/index.php?id=1678"><img class="img-responsive" src="/partner/oedp.png"/></a>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-2">
            <div class="l__home__teaser__inner">
              <div class="l__home__teaser__img">      
                <a href="https://berlin.piratenpartei.de/"><img class="img-responsive" src="/partner/piraten.png"/></a>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-2">
            <div class="l__home__teaser__inner">
              <div class="l__home__teaser__img">      
                <a href="http://bln-berlin.de/"><img class="img-responsive" src="/partner/lag_naturschutz.png"/></a>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-2">
            <div class="l__home__teaser__inner">
              <div class="l__home__teaser__img">      
                <a href="https://bewegung.jetzt/"><img class="img-responsive" src="/partner/dib.png"/></a>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-2">
            <div class="l__home__teaser__inner">
              <div class="l__home__teaser__img">      
                <a href="https://thf100.de/"><img class="img-responsive" src="/partner/logo-thf.png"/></a>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-2">
            <div class="l__home__teaser__inner">
              <div class="l__home__teaser__img">      
                <a href="https://www.bund.net/"><img class="img-responsive" src="/partner/logo-bund.png"/></a>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-2">
            <div class="l__home__teaser__inner">
              <div class="l__home__teaser__img">      
                <a href="http://dgif.de/"><img class="img-responsive" src="/partner/logo-dgif.png"/></a>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-2">
            <div class="l__home__teaser__inner">
              <div class="l__home__teaser__img">      
                <a href="https://www.grueneliga-berlin.de/"><img class="img-responsive" src="/partner/logo-grueneliga.png"/></a>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-2">
            <div class="l__home__teaser__inner">
              <div class="l__home__teaser__img">      
                <a href="http://klausenerplatz.de/"><img class="img-responsive" src="/partner/logo-kiezbuendnis.png"/></a>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-2">
            <div class="l__home__teaser__inner">
              <div class="l__home__teaser__img">      
                <a href="https://mafianeindanke.de/"><img class="img-responsive" src="/partner/logo-mafia.png"/></a>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-2">
            <div class="l__home__teaser__inner">
              <div class="l__home__teaser__img">      
                <a href="https://www.whistleblower-net.de/"><img class="img-responsive" src="/partner/logo-wbn.png"/></a>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-2">
            <div class="l__home__teaser__inner">
              <div class="l__home__teaser__img">      
                <a href="https://www.naturfreunde-berlin.de/"><img class="img-responsive" src="/partner/logo-nfd.png"/></a>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-2">
            <div class="l__home__teaser__inner">
              <div class="l__home__teaser__img">      
                <a href="https://www.volkssolidaritaet.de/berliner-volkssolidaritaet/"><img class="img-responsive" src="/partner/logo-vs.png"/></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>
</main>
{{- partial "matomo.html" . -}}
{{ end }}
