{{ define "title"}}
<title>Volksentscheid Transparenzgesetz</title>
{{ end }}

{{ define "head" }}
<meta property="og:title" content="Volksentscheid Transparenzgesetz" />
<meta property="og:type" content="website" />
<meta property="og:url" content="" />
{{ with .Params.img_header }}<meta property="og:image" content="{{ . }}" />{{ end }}
{{with .Params.meta}}
<meta property="og:description" content="{{.}}">
<meta name="description" content="{{.}}">
{{end}}
{{ end }}

{{ define "main" }}
<main>
  <div class="l__home">
    <section class="l__content l__home__start">
      <div class="col col-12 col-xs-12 l__content__bg--grey">
          <div class="col col-12 col-xs-10 col-lg-10 offset-lg-1">
            <h1>{{ .Params.blurb }}</h1>
            <h2 class="blackout">
              <a href="/info">
                {{ .Params.work }}
              </a>
            </h2>
          </div>
      </div>
    </section>


    <section class="u04-subscribe">
      <a href="/mitmachen">
        <div class="u04-subscribe__wrapper">
          <div class="u04-subscribe__marquee" data-animation-play-state="run">
            <span class="u04-subscribe__marquee-content">Mitmachen</span>
            <span class="u04-subscribe__marquee-content">Mitmachen</span>
            <span class="u04-subscribe__marquee-content">Mitmachen</span>
            <span class="u04-subscribe__marquee-content">Mitmachen</span>
            <span class="u04-subscribe__marquee-content">Mitmachen</span>

          </div>
        </div>
      </a>
    </section>

    <section class="l__content">
      <div class="container">
        <div class="col col-12">
          <div class="row">
            <div class="l__home__teaser col col-lg-3 col-xs-12">
              <a href="/info">
                <div class="l__home__teaser__inner">
                  <div class="l__home__teaser__img">
                    <img src="/volksentscheid/info__teaser.png" alt="" class="img-responsive">
                  </div> 
                  <div class="l__home teaser__content">
                    <h3><a href="/info">Über den Volksentscheid</a></h3>
                    <p>
                      Unser Transparenzgesetz regelt, welche Informationen zur Berliner Politik und Verwaltung sowie der Unternehmen des Landes Berlin künftig aktiv veröffentlicht werden müssen.</p>
                  </div>
                </div>
              </a>
            </div>

            <div class="l__home__teaser col col-lg-6 col-md-6 col-xs-12">
              <a href="/gruende">
                <div class="l__home__teaser__inner">
                  <div class="l__home__teaser__img">
                    <img src="/gruende/00_gruende__teaser-4.png" alt="" class="img-responsive">
                  </div> 
                  <div class="l__home teaser__content">
                    <h3><a href="/gruende">9 Gründe für ein Transparenzgesetz</a></h3>
                    <p>Mit unserem Transparenzgesetz schaffen wir eine neue Form der Kontrolle der Politik in Berlin und eine echte Basis für Mitbestimmung! In unserer Übersicht haben wir die Gründe für ein Transparenzgesetz zusammengestellt.</p>
                  </div>
                </div>
              </a>
            </div>
            <div class="l__home__teaser col col-lg-3 col-md-6 col-xs-12">
              <a href="http://eepurl.com/dPuBD5">
                <div class="l__home__teaser__inner__bg--black text__white">
                  <div class="l__home__teaser__img">
                    <img src="/volksentscheid/newsletter.png" alt="" class="img-responsive">
                  </div> 
                  <div class="l__home teaser__content text__white">  
                    <h3><a href="http://eepurl.com/dPuBD5">Newsletter abonnieren {{ readFile "static/files/icons/arrow_right.svg" | safeHTML }}</a></h3>
                  </div>
                </div>
              </a>
            </div>
            <div class="l__home__teaser col col-lg-6 col-md-6 col-xs-12">
              <a href="/mitmachen">
                <div class="l__home__teaser__inner">
                  <div class="l__home__teaser__img">
                    <img src="/volksentscheid/mitmachen__teaser_blue.png" alt="" class="img-responsive">
                  </div> 
                  <div class="l__home teaser__content">
                    <h3><a href="/mitmachen">Aktivenworkshop am 10.4.</a></h3>
                    <p>
                      Sorge selbst für mehr Transparenz in Deiner Stadt! Hilf uns bei der Unterschriftensammlung, beim Material oder bei der Finanzierung. Ganz einfach und auf Deine Weise.</p>
                  </div>
                </div>
              </a>
            </div>
            <div class="l__home__teaser col col-lg-3 col-md-6 col-xs-12">
              <a href="/files/documents/BerlTG-E.pdf">
                <div class="l__home__teaser__inner">
                  <div class="l__home__teaser__img">
                    <img src="/volksentscheid/gesetz__teaser_gray.png" alt="" class="img-responsive">
                  </div> 
                  <div class="l__home teaser__content">
                    <h3><a href="/files/documents/BerlTG-E.pdf">Was steht im Gesetz?</a></h3>
                    <p>Unser Transparenzgesetz regelt, welche Informationen der Berliner Politik und Verwaltung sowie der Unternehmen des Landes Berlin künftig aktiv veröffentlicht werde müssen.</p>
                  </div>
                </div>
              </a>
            </div>
            <div class="l__home__teaser col col-lg-3 col-xs-12">
              <iframe src="https://open.spotify.com/embed/user/1125183168/playlist/4IDAwSBduRrsHscyusWhyV" width="100%" height="380" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="container mt-l mb-l">
      <div class="row justify-between">
        <div class="col col-10 mb-s">
          <h2>{{ i18n "home_blog_news" }}</h2>
        </div>

        <ul class="l__blog__posts container mt-s">
          {{ range first 4 ( sort (where (where $.Site.AllPages "Section" "blog") "Kind" "page")) }}
          {{- partial "post_item.html" . -}}
          {{ end }}
        </ul>
      </div>
      <div class="mt-s">
        <p>{{ with .Site.GetPage "/blog" }}
          <a href="{{ .Permalink }}" class="hover">
            Alle Posts</a>{{ end }}</p>
      </div>
    </section>

    <section class="l__content">
      <div class="l__content__partner__white mt-l mb-l col col-10 offset-lg-1">
        <h3> Eine Initiative von</h3>
        <div class="row">
          <div class="col col-xs-12 col-md-3">
            <div class="l__home__teaser__inner">
              <div class="l__home__teaser__img">      
                <img class="img-responsive" src="/partner/OKFN.png" alt="Logo OKFDE"/>
              </div>
            </div>
          </div>
          <div class="col col-xs-12 col-md-3">
            <div class="l__home__teaser__inner">
              <div class="l__home__teaser__img">      
                  <img src="/partner/md.png" alt="Logo Mehr Demokratie"/>
              </div>
            </div>
          </div>
        </div>
        <h3>gemeinsam mit</h3>
        <div class="row">
          <div class="col col-xs-6 col-md-2">
            <div class="l__home__teaser__inner">
              <div class="l__home__teaser__img">      
                <img class="img-responsive" src="/partner/aw.png" alt="Logo Abgeordnetenwatch"/>
              </div>
            </div>
          </div>
          <div class="col col-xs-6 col-md-2">
            <div class="l__home__teaser__inner">
              <div class="l__home__teaser__img">      
                <img class="img-responsive" src="/partner/wmde-logo.png" alt="Logo Wikimedia"/>
              </div>
            </div>
          </div>
          <div class="col col-xs-6 col-md-2">
            <div class="l__home__teaser__inner">
              <div class="l__home__teaser__img">      
                <img class="img-responsive" src="/partner/digiges.png" alt="Logo Digitale Gesellschaft"/>
              </div>
            </div>
          </div>
          <div class="col col-xs-6 col-md-2">
            <div class="l__home__teaser__inner">
              <div class="l__home__teaser__img">      
                <img class="img-responsive" src="/partner/nr.png" alt="Logo Netzwerk Recherche"/>
              </div>
            </div>
          </div>
          <div class="col col-xs-6 col-md-2">
            <div class="l__home__teaser__inner">
              <div class="l__home__teaser__img">      
                <img class="img-responsive" src="/partner/CCC.png" alt="Logo CCC"/>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col col-xs-6 col-md-2">
            <div class="l__home__teaser__inner">
              <div class="l__home__teaser__img">      
                <img class="img-responsive" src="/partner/openpetition-logo.png"/>
              </div>
            </div>
          </div>
          <div class="col col-xs-6 col-md-2">
            <div class="l__home__teaser__inner">
              <div class="l__home__teaser__img">      
                <img class="img-responsive" src="/partner/fiff.png"/>
              </div>
            </div>
          </div>
          <div class="col col-xs-6 col-md-2">
            <div class="l__home__teaser__inner">
              <div class="l__home__teaser__img">      
                <img class="img-responsive" src="/partner/RoG.png"/>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>
</main>
{{ end }}
