{{ define "main" }}
<main>
  <div class="l__home">
    <section class="l__content l__home__start">
      <div class="col col-12 col-xs-12 l__content__bg--grey pb-5">
        <div class="col col-12 col-xs-10 col-lg-10 offset-lg-1">
          <h1>{{ .Params.blurb }}</h1>
          <div class="blackout">
            <p>
              <span>
              Unser Transparenzgesetz <strong>verpflichtet Behörden</strong> und öffentliche Unternehmen zur Veröffentlichung von</span>
            </p>
              <ul>
                <li>
                  <span>
                    bisher geheimen Verträge
                  </span>
                </li>
                <li>
                  <span>
                    Protokollen des Senats
                  </span>
                </li>
                <li>
                  <span>
                    internen Gutachten
                  </span>
                </li>
                <li>
                  <span>
                    und vielem mehr
                  </span>
                </li>
              </ul>
              <p>
                <span>Die Verwaltung muss diese Informationen <strong>kostenlos online bereitstellen</strong>. Dadurch können Bürger*innen, Journalist*innen und Initiativen <strong>frühzeitig Einblick</strong> in das Handeln von Politik & Verwaltung erhalten und <strong>aktiv werden.</strong>
              </span>
            </p>
          </div>
        </div>
      </div>
    </section>

    <section class="u04-subscribe">
      <a href="/mitmachen">
        <div class="u04-subscribe__wrapper">
          <div class="u04-subscribe__marquee" data-animation-play-state="run">
            <span class="u04-subscribe__marquee-content">Mitmachen</span>
            <span class="u04-subscribe__marquee-content">Mitmachen</span>
            <span class="u04-subscribe__marquee-content">Mitmachen</span>
            <span class="u04-subscribe__marquee-content">Mitmachen</span>
            <span class="u04-subscribe__marquee-content">Mitmachen</span>

          </div>
        </div>
      </a>
    </section>

    <section class="l__content">
      <div class="container">
        <div class="col col-12">
          <div class="row">
            <div class="l__home__teaser col col-12 col-sm-12 col-md-6 col-lg-6">
              <a href="/mitmachen">
                <div class="l__home__teaser__inner">
                  <div class="l__home__teaser__img">
                    <img src="/img/mitmachen.png" alt="" class="img-fluid">
                  </div> 
                  <div class="l__home teaser__content">
                    <h3><a href="/mitmachen">Dringend Unterstützung gebraucht!</a></h3>
                    <p>
                      Wir brauchen jede Menge Unterstützung in unseren AGs. Egal, ob in der Außenkommunikation, der Kampagne, der Organisation von Aktionen oder dem Sammeln von Unterschriften, wir freuen uns über jede helfende Hand! Melde dich am besten über unser Formular.</p>
                  </div>
                </div>
              </a>
            </div>
            <div class="col col-lg-5 col-md-5 offset-md-1 offset-lg-1">
              <h2>Unsere nächsten Termine</h2>
              <iframe id="termine-iframe" src="https://orga.volksentscheid-transparenz.de/termine/calendar/next/events/?termine-iframe" class="mt-3" style="width:100%; height: 300px; border:0"></iframe>
            </div>
          </div>
          <div class="row">
            <div class="l__home__teaser col col-12 col-sm-12 col-md-6 col-lg-3">
              <a href="/info">
                <div class="l__home__teaser__inner">
                  <div class="l__home__teaser__img">
                    <img src="/img/info__teaser.png" alt="" class="img-fluid">
                  </div> 
                  <div class="l__home teaser__content">
                    <h3><a href="/info">Über den Volksentscheid</a></h3>
                    <p>
                      Unser Transparenzgesetz regelt, welche Informationen zur Berliner Politik und Verwaltung sowie der Unternehmen des Landes Berlin künftig aktiv veröffentlicht werden müssen.</p>
                  </div>
                </div>
              </a>
            </div>
            <div class="l__home__teaser col-12 col-sm-12 col-md-6 col-lg-6">
              <a href="/gruende">
                <div class="l__home__teaser__inner">
                  <div class="l__home__teaser__img">
                    <img src="/img/akten_mauerer.png" alt="" class="img-fluid">
                  </div> 
                  <div class="l__home teaser__content">
                    <h3><a href="/gruende">9 Gründe für ein Transparenzgesetz</a></h3>
                    <p>Mit unserem Transparenzgesetz schaffen wir eine neue Form der Kontrolle der Politik in Berlin und eine echte Basis für Mitbestimmung! In unserer Übersicht haben wir die Gründe für ein Transparenzgesetz zusammengestellt.</p>
                  </div>
                </div>
              </a>
            </div>
             <div class="l__home__teaser col-12  col-sm-12 col-md-6 col-lg-3">
              <a href="http://eepurl.com/dPuBD5">
                <div class="l__home__teaser__inner__bg--black text__white">
                  <div class="l__home__teaser__img">
                    <img src="/img/newsletter.png" alt="" class="img-fluid">
                  </div> 
                  <div class="l__home teaser__content text__white">  
                    <h3><a href="http://eepurl.com/dPuBD5">Newsletter abonnieren {{ readFile "static/files/icons/arrow_right.svg" | safeHTML }}</a></h3>
                  </div>
                </div>
              </a>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="l__content">
      <div class="container">
        <div class="row">
          <div class="l__home__teaser col-12 col-sm-12 col-md-6 col-lg-3">
            <a href="/gesetz/">
              <div class="l__home__teaser__inner">
                <div class="l__home__teaser__img">
                  <img src="/img/gesetz__teaser_gray.png" alt="" class="img-fluid">
                </div> 
                <div class="l__home teaser__content">
                  <h3><a href="/gesetz/">Was steht im Gesetz?</a></h3>
                  <p>Unser Transparenzgesetz regelt, welche Informationen der Berliner Politik und Verwaltung sowie der Unternehmen des Landes Berlin künftig aktiv veröffentlicht werde müssen.</p>
                </div>
              </div>
            </a>
          </div>
          <div class="l__home__teaser col col-12 col-sm-12 col-md-6 col-lg-6">
            <a href="/mitmachen/#treffen">
              <div class="l__home__teaser__inner">
                <div class="l__home__teaser__img">
                  <img src="/img/workshop_3.png" alt="" class="img-fluid">
                </div> 
              </div>
            </a>
            <div class="l__home teaser__content">
              <h3></h3>
              <p>
                Wir veranstalten regelmäßig Aktiventreffen und erklären, warum mehr Transparenz in der Politik notwendig ist, was in Berlin schief läuft, wie wir das ändern wollen und wie man am besten Unterschriften sammelt.</p>
            </div>
          </div>
          <div class="l__home__teaser col-12 col-sm-12 col-md-6 col-lg-3">
              <iframe src="https://open.spotify.com/embed/user/1125183168/playlist/4IDAwSBduRrsHscyusWhyV" width="100%" height="380" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
          </div>
        </div>
      </div>
    </section>


    <section class="container mt-l mb-l">
      <div class="row justify-between">
        <div class="col col-11 mb-s">
          <h2>{{ i18n "home_blog_news" }}</h2>
        </div>
        <div class="">
          <p>{{ with .Site.GetPage "/blog" }}
          <a href="{{ .Permalink }}" class="hover">
            Alle Posts</a>{{ end }}</p>
      </div>
        {{- partial "featured_post.html" . -}}
      </div>
    </section>


    <section class="l__content">
      <div class="l__content__partner__white mt-l mb-l col col-10 offset-lg-1">
        <h3> Eine Initiative von</h3>
        <div class="row">
          <div class="col col-xs-5 col-md-6 col-lg-2">
            <div class="l__home__teaser__inner">
              <div class="l__home__teaser__img">      
                <a href="https://okfn.de/"><img class="img-fluid" src="/partner/OKFN.png" alt="Logo OKFDE"/></a>
              </div>
            </div>
          </div>
          <div class="col col-sm-6 col-md-6 col-lg-2">
            <div class="l__home__teaser__inner">
              <div class="l__home__teaser__img">      
                  <a href="https://bb.mehr-demokratie.de/"><img src="/partner/md.png" alt="Logo Mehr Demokratie"/></a>
              </div>
            </div>
          </div>
        </div>
        <h3>Unterstützer*innen</h3>
        <div class="row">
          {{ range $.Site.Data.supporters }}
            <div class="col-sm-6 col-md-6 col-lg-2">
              <div class="l__home__teaser__inner">
                <div class="l__home__teaser__img">      
                  <a href="{{ .url }}"><img class="img-fluid" src="{{ .image }}" alt="{{ .name }}"/></a>
                </div>
              </div>
            </div>
          {{ end }}
        </div>
      </div>
    </section>
  </div>
</div>
</main>
{{ end }}
